<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Frédéric Strebler">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <link href="{{ asset('bundles/portfolio/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/portfolio/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/portfolio/css/style.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/portfolio/js/jquery-3.2.1.min.js') }}"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('favicon/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>Frédéric Strebler</title>
</head>
<body>
{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}

<script src="{{ asset('bundles/portfolio/js/bootstrap.min.js') }}"></script>
</body>
</html>